<div id="<%= dom_id zombie %>">
  <p>
    <strong>Name:</strong>
    <%= zombie.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= zombie.bio %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= zombie.age %>
  </p>

</div>
